.tag {
  text-align: center;
}

.slick-slide img {
  margin: auto;
  width: 100%;
  height: 100%;
}

.imgslider {
  margin-top: 10px;
  margin-left: 10px;
}
.mheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #015b51;
  position: "absolute";
  top: 0;
}
.mheader span {
  color: white;
  padding: 5px 10px;
  box-shadow: none;
}
.mheader span button {
  background: #015b51;
  color: white;
  border: none;
  padding: 5px 10px;
  box-shadow: none;
}
.number {
  height: 35px;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
}
.btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #015b51;
  color: white !important;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #015b51;
}
.sidebar {
  margin-top: 50px;
  height: 70%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  right:0;
  background-color: whitesmoke; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-right: 15px;
}

.fimgslider {
  margin-top: 5px;
  margin-left: 0px;
  width:100%px;
  height: 100px;
}
.features {
  height:350px;
}
.tickets {
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}

.pricelist {
  margin-top: 80px;
}

.tickets {
  border: 1px solid black;
}
.tickets div {
  width: 280px;
}
.tickets div div h {
  text-align: center;
}
.ticketsbox {
  border-radius: 6px;
  margin: 2px;
  box-shadow: #0e3742;
}
.ticketsbox > * {
  text-align:center;
}
.pricebuton {
  height: 45px;
  width: 100px;
  margin-bottom: 20px;
  margin-left: 40%;
  background: #1976d2;
  color: white;
  box-shadow: #03bcf4;
}
.floorplan {
display:flex;
margin-top: 5px;
height: auto;
flex-wrap: wrap;
}
.planimage {
  position: relative;
  height: 240px;
  width: 250px;
  z-index: -1;
  margin:5px;
}
.btncheck:hover {
  background-color: #1976d2;
}
.btncheck {
  position: relative;
  left:-200px;
  
  bottom: 0px;
  background-color: #015b51;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}
.banner {
  margin-top: 25px;
  height: 250px;
  width: 100%;
}
.map {
  height: 400px;
  width: 800px;
  padding-left: 40px;
}
.video {
  margin:25px 0px 100px 0px;
  
}
.schedule {
  height: 700px;
  width: 100%;
  margin-top: 25px;
  margin-left: 25px;
}
.schedule {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.scheduleform {
  width: 1000px;
}
.ammenities {
  height: 250px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  
}
.aligncenter {
  align-self: center;
}
.disclaimer {
  border: 1px solid black ;
}
.price {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.ContactForm {
  width: 100%;
  height: 100%;
}
.submit-btn {
  height: 30px;
  width: 200px;
  background: #015b51;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 60px;
  margin-bottom: 15px;
}
.pricebutton {
  background: #015b51;
  margin-left: 58px;
  border: none;
  margin-bottom: 4px;
  border-radius: 5px;
}
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

.containeranimation {
  position: relative;
  z-index: 0;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.contactborder {
  border: solid 2px #49512561;
  border-radius: 20px;
}

.neon {
  position:relative;
  font-size:20px;
  letter-spacing: 1.5px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: upper 1px linear-gradient(transparent, #0004);
  line-height: 0px;
  outline: none;
  animation: animate 3s linear infinite;
  margin-top:0px;
  top: 22px;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
.neonbtn {
  position:relative;
  margin-top: 20px;
  height: 50px;
  width: 350px;
  left: 0;
  bottom: 0;
  border-radius:10px;
  text-align: center;
  display: flex;
  background: #015b51;
  border: none;
}
.pictext {
  height: 50px;
  width: 450px;
  bottom: 420px;
  left: 250px;
  text-align: center;
  color: whitesmoke;
}
.brochurebutton {
  height: 45px;
  width: "360px";
  background: "#015b51";
  margin-top: "20px";
}
.buttonschedule {
  height: 50px;
  width: 800px;
  background: "#015b51";
  margin-top: "10px";
  margin-left: "50px" !important;
}
.input{
    height: 50px;
    width: 800px;

}

.footer{
    height: 80px;
    background-color: #015b51;
     position: fixed;
     width: 100%;
     bottom: 0;
     color: white;
     font-size: 12px;
     padding: 0;
     margin-left:-10px;
     margin-top: 15pxf;
}
    
body {
  font-size: 62.5%;
  font-style: Arial;
}

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  font-size: 4.4rem;
  position: relative;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
  z-index:1;
}
.cardcontainer{
  width:250px;
  height:200px;
  border:1px solid black;
  margin:5px 50px 5px 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}